<footer class="footer">
  <div class="container">
    <div class="media-container-row align-center">
      <div class="row">
        <div class="col-12 col-sm-6">
          <p>
            <strong>Address</strong>
            <br>
            12345 WishFo Dr.
            <br>
            South Jordan, UT 84095
          </p>
        </div>
        <div class="col-12 col-md-6">
          <p>
            <strong>Contacts</strong>
            <br>
            Email: support@wishfo.com
            <br>
            Phone: (555)-555-5555
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-sm-6 text-muted">
          <a href="#" class="fa fa-twitter fa-fw"></a>
          <a href="#" class="fa fa-facebook fa-fw"></a>
          <a href="#" class="fa fa-instagram fa-fw"></a>
          <a href="#" class="fa fa-youtube-play fa-fw"></a>
          <a href="#" class="fa fa-google-plus fa-fw"></a>
        </div>
        <div class="col-12 col-sm-6 text-muted">
          © Copyright 2018
        </div>
      </div>
    </div>
  </div>
</footer>