@import "~bootstrap/dist/css/bootstrap.css";

@import "~open-iconic/font/css/open-iconic-bootstrap.css";

  html {
    position: relative;
    min-height: 100%;
  }

@media only screen and (min-width: 766px) {
  body {
    margin-bottom: 8em;
  }
}

@media only screen and (max-width: 765px) {
  body {
    margin-bottom: 14em;
  }
}